.game-header{
	text-align: center;
}
.game-story{
    border: 1px solid;
    background-color: grey;
    overflow: auto;
   	height:200px;
	width:auto;
    color: white;
    font-family: 'Nanum Brush Script', cursive, serif;
    font-size: 20px;
}
.game-resource{
	display: flex;
	align-items: stretch;
}
/*.game-resource #resource-counter {
	padding-left: 5px;
	flex: 1;
}*/
game-counter{
	padding-left: 5px;
	flex: 1;
	display: flex;
}
#resource-counter{
	padding-left: 5px;
	flex: 1;
}
.game-generator{
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	padding: 15px;	
}
.game-generator > div{
	border: 1px solid;
	width: 250px;
	position: relative;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.generator-name{
	width: 150px;
}
.btn-generator{
	position: relative;
	float: right;
}
.generator-amount{
	padding-right: 10px;
	float: right;
}
.generator-time {
	padding-left: 10px;
}
.resource-counter.--red {
    color: red;
}
.resource-counter.--blue {
	color: blue;
}
.resource-counter.--green {
    color: green;
}
h1, h2, h3{
	font-family: 'Lobster', cursive	, serif;
}
button {
	border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
    background-color: black;
    color: #ffab00;
}
.btn-generator:disabled {
    background: #dddddd;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
    color: black;
    cursor: no-drop;
}
.footer {
    position:fixed;
    bottom:0;
    text-align: center;
    width:100%;
    display:block;
}